/* Reset all browser styles */

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 1em;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

a img, :link img, :visited img {
    border: 0;
}

/* Styling starts here */

body {
    background: #2a2d36;
}

.page {
    margin-right: 10%;
    margin-left: 10%;
}

.header, .textcontainer {
    margin-top: 1rem;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #4e536a;
    border-radius: 2rem;
}

.headline {

    font-size: 3rem;
    color: white;
}

.sub-headline {

    color: #898c93;
}

.logo {

    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.text{
    color: white;
    font-size: 2rem;
}
